<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".woff2" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".woff" mimeType="font/woff" />
     </staticContent>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="32768" maxUrl="32768" />
        </requestFiltering>
      </security>
    </system.webServer>
  
  <system.web>
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536"/>
    
  </system.web>
</configuration> 